DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/app_db
GEMINI_API_KEY=  # isi dengan API key Gemini 2.5 Flash Lite Anda (jangan commit ke GitHub)
COBALT_API_URL=https://co.otomir23.me/
TMDB_API_KEY=1ae110e6c988152ee842b46b77656d27
